<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Skeleton CSS -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/skeleton.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Scenery Classifier</title>
</head>

<body>
    <!-- Chart.js -->
    <script src="../static/js/chart.js"></script>

    <div id="main" class="container">
        <h3>Scenery Classification using Logic Regression</h3>

        <table class="u-max-full-width">
            <thead>
                <tr>
                    <th>Category 1</th>
                    <th>category 2</th>
                    <th>Epochs</th>
                    <th>Learning Rate</th>
                    <th>Log Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ training_parameters['category-1'] }}</td>
                    <td>{{ training_parameters['category-2'] }}</td>
                    <td>{{ training_parameters['epochs'] }}</td>
                    <td>{{ training_parameters['learning-rate'] }}</td>
                    <td>{{ training_parameters['log-rate'] }}</td>
                </tr>
            </tbody>
        </table>

        <canvas id="epochs-v-cost"></canvas>
        <br><br>

        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form action="upload" method="POST" enctype="multipart/form-data" target="dummyframe">
            <div class="row">
                <input class="six columns" type="file" name="file" id="file-selector" />
                <input class="six columns button-primary" type="submit" id="upload-image" value="Upload"/>
            </div>
        </form>
        <img id="image-preview" class="u-full-width" src="">

        <button class="u-full-width button-primary" id="test" disabled>Classify</button>


        <table class="u-max-full-width">
            <thead>
                <tr>
                    <th>Prediction</th>
                    <th>Confidence</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="pred"></td>
                    <td id="conf"></td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <input class="six columns" id="fname" type="text" placeholder="Model Name">
            <button class="six columns button-primary" id="save" disabled>Save Model</button>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
</body>

</html>